<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>华信贩卖系统</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<h1 class="title">华信株式会社</h1>
<div class="menu">
    <ul>
        <h3>订单管理</h3>
        <li><a href="/order/input" target="main">订单输入</a></li>
        <li><a href="/order/list" target="main">订单列表</a></li>
        <li><a href="/report/customer/monthly" target="main">顾客订单月报</a></li>
        <li><a href="/report/product/monthly" target="main">商品订单月报</a></li>
    </ul>
    <ul>
        <h3>信息管理</h3>
        <li><a href="/supplierlist" target="main">供货商信息维护</a></li>
        <li><a href="/product/list" target="main">商品信息维护</a></li>
        <li><a href="/stock/info" target="main">库存信息确认</a></li>
    </ul>
    <ul>
        <h3>应收账款管理</h3>
        <li><a href="/receivable/toAdd" target="main">应收款登记</a></li>
        <li><a href="/receivable/list" target="main">应收款列表</a></li>
        <li><a href="/paymentrequest/toAdd" target="main">请求付款</a></li>
        <li><a href="/paymentrequest/list" target="main">付款请求列表</a></li>
        <li><a href="/paymentreceived/toAdd" target="main">到款登录</a></li>
        <li><a href="/paymentreceived/list" target="main">到款记录</a></li>
    </ul>
</div>
    <div class="section">
        <iframe name="main" width="90%" height="500px" frameborder="0" scrolling="auto">
        </iframe>
    </div>
</body>
</html>

